

// nav logo---------
.svg {
    width: 12%;
}

// image----------
.recipesImg {
    width: 120px;
}


body {
    font-family: "cwTeXYem", sans-serif;
}

// body {
//     font-family: 'cwTeXYen', sans-serif;
//     /* font-family: "Noto Sans TC", sans-serif; */
//     font-weight: 800;
//   }

a {
    text-decoration:none;
}

.btn-facebook{
    
    color:white;
    background-color: $blue-600;
}